@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 4rem; /* Adjust this value based on the height of your nav bar */
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
